{% extends "layout.html" %}

{% block body %}
<div class="container__index grid-x">
  {% if current_user.is_authenticated %}
  {% if is_student %}
  <div class="cell small-6">
    <h1 class="h3">Welcome {{ name }}!</h1>
    <div>
      <a class="link__block" href="{{ url_for('courses_index') }}"><i class="fas fa-search"></i> Find courses</a>
      <br>
      <a class="link__block" href="{{ url_for('logs_all') }}"><i class="far fa-list-alt"></i> View logs</a>
    </div>
  </div>
  <div class="cell small-6">
    <div class="container__list">
      <h2 class="h4 list__header">Recent activity</h2>
      <div class="list">
        {% for course in courses %}
        <div class="list__item">
          <a href="{{ url_for('logs_index', course_id=course.id) }}">{{ course.course_id }} {{ course.title }}
          <small>
            ({{ course.logs }}
            {% if course.logs == 1 %}
            log
            {% else %}
            logs
            {% endif %}
            )</small>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% elif is_teacher %}
  <div class="cell small-6">
    <h1 class="h2">Welcome {{ name }}!</h1>
    <div>
      <a class="link__block" href="{{ url_for('courses_mycourses') }}"><i class="fas fa-list"></i> My courses</a>
      <br>
      <a class="link__block" href="{{ url_for('courses_form') }}"><i class="fas fa-plus"></i> Create new course</a>
    </div>
  </div>
  <div class="cell small-6">
    <div class="container__list">
      <h2 class="h4 list__header">My recent courses</h2>
      <div class="list">
        {% for course in courses %}
        <div class="list__item"> <a href="{{ url_for('courses_course', course_id=course.id) }}">{{ course.course_id }} {{ course.title }}</a></div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% else %}
  <div class="cell small-6">
    <h1 class="h2">
      <small class="teacher__text">Teachers</small>
      <br>
      <strong>Create</strong> courses & <strong>monitor</strong> student progress
      <br>
      <small class="student__text">Students</small>
      <br>
      <strong>Document</strong> tasks & <strong>follow</strong> progress
    </h1>
  </div>
  <div class="cell small-6">
    <img class="index__image" src="{{ url_for('static', filename='assets/logs.png') }}" alt="course with logs and progress" />
  </div>
  {% endif %}
</div>
{% endblock %}
