<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Timetracker</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/application.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/539cd876c4.js"></script>
  </head>
  <body>
    <div class="top-bar">
      {% if current_user.is_authenticated and is_student %}
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text student__text"><i class="fas fa-hourglass-half"></i></li>
          <li><a href="{{ url_for('index') }}">Dashboard</a></li>&nbsp;
          <li><a href="{{ url_for('courses_index') }}">Find Courses</a></li>&nbsp;
          <li><a href="{{ url_for('logs_all') }}">Logs</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="menu-text">{{ current_user.firstname }} {{ current_user.lastname }} logged in</li>
          <li><a href="{{ url_for('auth_logout') }}">Logout</a></li>
        </ul>
      </div>
      {% elif current_user.is_authenticated and is_teacher %}
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text teacher__text"><i class="fas fa-hourglass-half"></i></li>
          <li><a href="{{ url_for('index') }}">Dashboard</a></li>&nbsp;
          <li><a href="{{ url_for('courses_mycourses') }}">Courses</a></li>&nbsp;
          <li><a href="{{ url_for('courses_form') }}">Create Course</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="menu-text">{{ current_user.firstname }} {{ current_user.lastname }} logged in</li>
          <li><a href="{{ url_for('auth_logout') }}">Logout</a></li>
        </ul>
      </div>
      {% else %}
      <div class="top-bar-left">
        <ul class="menu">
          <li><a class="menu-text index__menu" href="{{ url_for('index') }}"><i class="fas fa-hourglass-half animation index__icon"></i> Timetracker</a></li>&nbsp;
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="{{ url_for('auth_signup') }}">Signup</a></li>
          <li><a href="{{ url_for('auth_login') }}">Login</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="container">
      {% block body %}q
      {% endblock %}
    </div>
  </body>
</html>
