{% extends "layout.html" %}

{% block body %}
<h1 class="h3">Sign up as a student</h1>
{% if error %}
<div class="callout">{{ error }}</div>
{% endif %}
<form class="container__form" method="POST" action="{{ url_for('auth_signupStudent') }}">
  <table class="unstriped">
    <tr>
      <td>
        {{ form.firstname.label }}
      </td>
	    <td>
        {{ form.firstname }}
      </td>
      <td>
        {% if form.firstname.errors %}
          {% for error in form.firstname.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.lastname.label }}
      </td>
	    <td>
        {{ form.lastname }}
      </td>
      <td>
        {% if form.lastname.errors %}
          {% for error in form.lastname.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.email.label }}
      </td>
	    <td>
        {{ form.email }}
      </td>
      <td>
        {% if form.email.errors %}
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
	  <tr>
      <td>
        {{ form.password.label }}
      </td>
	    <td>
        {{ form.password }}
      </td>
      <td>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
	       <input class="student button__small" type="submit" value="Signup"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
