{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_studentSignup') }}">
  <table>
    <tr>
      <td>
        {{ form.studentId.label }}
      </td>
      <td>
        {{ form.studentId }}
      </td>
      {% if form.studentId.errors %}
      {% for error in form.studentId.errors %}
      <td>{{ error }}</td>
      {% endfor %}
      {% endif %}
    </tr>
    <tr>
      <td>
        {{ form.firstname.label }}
      </td>
	    <td>
        {{ form.firstname }}
      </td>
      {% if form.firstname.errors %}
      {% for error in form.firstname.errors %}
      <td>{{ error }}</td>
      {% endfor %}
      {% endif %}
    </tr>
    <tr>
      <td>
        {{ form.lastname.label }}
      </td>
	    <td>
        {{ form.lastname }}
      </td>
      {% if form.lastname.errors %}
      {% for error in form.lastname.errors %}
      <td>{{ error }}</td>
      {% endfor %}
      {% endif %}
    </tr>
    <tr>
      <td>
        {{ form.email.label }}
      </td>
	    <td>
        {{ form.email }}
      </td>
      {% if form.email.errors %}
      {% for error in form.email.errors %}
      <td>{{ error }}</td>
      {% endfor %}
      {% endif %}
    </tr>
	  <tr>
      <td>
        {{ form.password.label }}
      </td>
	    <td>
        {{ form.password }}
      </td>
      {% if form.password.errors %}
      {% for error in form.password.errors %}
      <td>{{ error }}</td>
      {% endfor %}
      {% endif %}
    </tr>
    <tr>
      <td>
	       <input type="submit" value="Signup"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
