{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('courses_create') }}">
  <table class="unstriped">
    <tbody>
    <tr>
      <td>{{ form.courseId.label }}</td>
      <td>{{ form.courseId }}</td>
      <td>
        {% for error in form.courseId.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
  <tr>
    <td>{{ form.title.label }}</td>
    <td>{{ form.title }}</td>
    <td>
      {% for error in form.title.errors %}
        {{ error }}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>{{ form.description.label }}</td>
    <td>{{ form.description }}</td>
    <td>
      {% for error in form.description.errors %}
        {{ error }}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>{{ form.duration.label }}</td>
    <td>{{ form.duration }}</td>
    <td>
      {% for error in form.duration.errors %}
        {{ error }}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>{{ form.deadline.label }}</td>
    <td>{{ form.deadline }}</td>
    <td>
      {% for error in form.deadline.errors %}
        {{ error }}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td><button class="success button" type="submit">Create course</button></td>
  </tr>
  </tbody>
  </table>
</form>
{% endblock %}
