{% extends "layout.html" %}

{% block body %}
  <h1 class="h3">{{ course.courseId }} - {{ course.title }}</h1>
  <p>Total hours: {{ duration }}</p>
  <table>
    <thead>
    <tr>
      <th width="150">Date</th>
      <th width="350">Description</th>
      <th width="200">Duration (h)</th>
      <th width="200">Increase duration</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.date | datetimeformat }}</td>
      <td>{{ log.description }}</td>
      <td>{{ log.duration }}</td>
      <td>
        <form method="POST" action="{{ url_for('logs_increment', course_id=course_id, log_id=log.id) }}">
          <input type="number" name="duration" placeholder="duration (h)"/>
          <button class="button" type="submit">Update</button>
        </form>
      </td>
      <td>
        <a href="{{ url_for('logs_log', course_id=course_id, log_id=log.id) }}">Modify</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <button><a href="{{ url_for('logs_form', course_id=course_id) }}">Add log</a></button>
{% endblock %}
