{% extends "layout.html" %}

{% block body %}
  <div><a href="{{ url_for('logs_index', course_id=log.course_id) }}">Back</a></div>
  <form method="POST" action="{{ url_for('logs_update', course_id=log.course_id, log_id=log.id) }}">
    <textarea name="description" rows="8" cols="80">{{ log.description }}</textarea>
    <br>
    <input type="number" name="duration" value="{{ log.duration }}" />
    <input class="button" type="submit" value="Update" />
  </form>
  <form method="POST" action="{{ url_for('logs_delete', course_id=log.course_id, log_id=log.id) }}">
    <button id="delete_me" class="button__hidden" type="submit"></button>
  </form>
  <button class="button__delete" onclick="confirm('log')">Delete</button>
{% endblock %}
