{% extends "layout.html" %}

{% block body %}
<div>
  <h1 class="h3">New log</h1>
  <form class="container__form" method="POST" action="{{ url_for('logs_create', course_id=course_id ) }}">
    {{ form.description.label }}
    {% for error in form.description.errors %}
    <div>{{ error }}</div>
    {% endfor %}
    <br>
    {{ form.description}}
    <br>
    {{ form.duration.label }}
    {% for error in form.duration.errors %}
    <div>{{ error }}</div>
    {% endfor %}
    {{ form.duration }}
    <input class="button__small student" type="submit" value="Add new log" />
  </form>
</div>
{% endblock %}
