{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('logs_create') }}">
  {{ form.description.label }}
  {% for error in form.description.errors %}
  <div>{{ error }}</div>
  {% endfor %}
  <br>
  <!-- <textarea name="description" rows="8" cols="80"></textarea> -->
  {{ form.description}}
  <br>
  {{ form.duration.label }}
  {% for error in form.duration.errors %}
  <div>{{ error }}</div>
  {% endfor %}
  {{ form.duration }}
  <!-- Duration (h): <input type="text" name="duration" /> -->
  <input type="submit" value="Add new log" />
</form>
{% endblock %}
